<!-- <p [style]="somecolor">Hello World</p>
<button [disabled]="!img" type="button" (click)="changeImag()">
  doSomething
</button>
<input name="img" [(ngModel)]="img" />

<img [src]="activeimg" /> -->
<!--
<p *ngIf="userName">Hello world</p>
<input [(ngModel)]="name" />
<p *ngIf="name">hello {{ name }}</p>-->

<!--<button (click)="Refresh()">Refresh</button>
<ul>
  <li *ngFor="let student of students; let i = index; trackBy: track">
    {{ student.id }}-{{ student.name }}-{{ i }}
  </li>
</ul> -->

<!--Template referanse varibles -->
<input type="text" #phone />
<button (click)="call(phone.value)">call</button>
